
<div class="panel panel-default">
	<div class="panel-body">
		<p class="footer-text">If you have questions, feedback, or other input on this page you can email Chris Busse at <a href="mailto:chrisbusse@gmail.com">chrisbusse@gmail.com</a> or engage with him on Twitter (<a href="http://twitter.com/busse">@busse</a>). <a href="https://github.com/busse/site/tree/gh-pages">This site can also be forked on GitHub</a> if you're into that kind of thing.</p>
	<p class="footer-text">Icons CC BY 3.0 US <a href="https://thenounproject.com/ralfschmitzer/collection/sketchy/">Ralf Schmitzer / the Noun Project</a></p>
	</div>
</div>
