<div class="panel panel-default">
	<div class="panel-body">
		<p class="footer-text">You can email Chris Busse at <a href="mailto:chrisbusse@gmail.com">chrisbusse@gmail.com</a>, engage with him on Twitter (<a href="http://twitter.com/busse">@busse</a>) or check out his vocational info on <a href="http://linkedin.com/in/chrisbusse">LinkedIn</a>. You can also <a href="http://meetme.so/busse">schedule a meeting with him</a> if you'd like. Lastly, <a href="https://github.com/busse/site/tree/gh-pages">this site can be forked on GitHub</a> if you're into that kind of thing.</p>
	</div>
</div>
<p class="disclaimer-text">Views and opions on this site are those of the owner and do not represent the views and opinions of his employer, clients, nor any other party unless otherwise cited.</p>