<nav class="navbar navbar-default">
  <div class="container-fluid pagehead">
    <div class="navbar-header">
      <a href="/" class="breadcrumb">chrisbusse.com</a><br class="short-break">
      <h1>{{ page.headline }}</h1>
      
    </div>						
	<!-- Single button -->
	<!--
	<div class="btn-group navbar-right">
	  <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <i class="fa fa-envelope-o fa-lg"></i> <i class="fa fa-user-plus fa-lg"></i> <i class="fa fa-calendar fa-lg"></i> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="mailto:chrisbusse@gmail.com" class="subinfo"><i class="fa fa-envelope-o"></i> chrisbusse@gmail.com</a></li>
	    <li><a href="http://twitter.com/busse" class="subinfo"><i class="fa fa-twitter"></i> @busse</a></li>
	    <li><a href="http://linkedin.com/in/chrisbusse" class="subinfo"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
	    
	    <li class="divider"></li>
	   <li><a href="http://meetme.so/busse" class="subinfo"><i class="fa fa-calendar-o"></i> Office Hours</a></li>
	
	  </ul>
	</div>
	-->
  </div>
</nav>