<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chris Busse</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 
</head>
 
<body>


	<div class="container">
			
	    <div class="row header">
	        <div class="col-sm-offset-2 col-sm-8">
	        	{% include nav.html %}	
			</div>		
		</div>
		{{content}}
	</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body> 
</html>
